<div class="about-section">
  <div class="about-name side-slide-animation">
    <span class="material-symbols-sharp bolt-icon"> bolt </span>
    <span class="about-name-span">
      <p>ABOUT</p>
    </span>
  </div>
  <!-- <hr /> -->
  <div class="about-author">
    <p class="about-info create-animation">
      I’m Harmonish,
      <br />
      <br />
      a music producer driven by the raw energy of sound and the power of
      emotion. No limits, no rules—just pure creativity in its truest form.
      Music isn’t just something I create. it’s something I live, breathe, and
      feel. I specialize in blending trap, pop beats, crafting a sound that’s
      unique, powerful, and full of life.
      <br />
      <br />
      Every track I produce carries a piece of my vision—whether it’s an
      electrifying drop, a smooth melody, or an unexpected twist that keeps you
      hooked. From remixes and mashups to original productions, I believe in
      constantly evolving, pushing boundaries, and finding new ways to make
      music that connects.
      <br />
      <br />
      It’s not just about what you hear—it’s about what you experience. Music is
      my language, and every beat is a message. Whether you're vibing to an
      intense bassline or getting lost in an atmospheric synth, my goal is to
      make you feel something real. This is just the beginning. The journey is
      long, but the passion is endless.
      <br />
      <br />
      Stay tuned. &hearts; Stay Harmonized.
    </p>
  </div>
</div>
