<div class="faq-section">
  <div class="about-name side-slide-animation-3">
    <span class="material-symbols-sharp bolt-icon"> bolt </span>
    <span class="about-name-span">
      <p>FAQ's</p>
    </span>
  </div>
  <!-- <hr /> -->
  <div class="faq-author">
    <details>
      <summary>+ Hey I like your beat, can I record a song to it?</summary>
      <p class="about-info faq-info">
        Glad you like our music and yes, you can record a song to our beat! If
        it is purely for non-profit / personal use (e.g. on YouTube, Soundcloud,
        social media), you can even upload it for free. Just make sure to give
        us credit by linking to our website / YouTube channel etc.
      </p>
    </details>

    <details>
      <summary>+ Are the samples you use royalty free?</summary>
      <p class="about-info faq-info">
        Yes, all of the samples we use are royalty free.
      </p>
    </details>

    <details>
      <summary>+ How do I need to credit you in the song?</summary>
      <p class="about-info faq-info">
        You will have to credit us as producers of the New Recording (e.g.,
        “Produced by Harmonish”) at your distributor, in any and all metadata, liner notes,
        and/or other customary place for such credits.
      </p>
    </details>
    <details>
      <summary>+ Can I use your beat for a not-for-profit song?</summary>
      <p class="about-info faq-info">
        Yes. If it is purely for non-profit / personal use (e.g. on YouTube,
        Soundcloud, social media), you can upload your song for free. Just make
        sure to give us credit by linking to our website / YouTube channel etc.
        in exchange.
      </p>
    </details>
    <details>
      <summary>
        + I don't want to record a song - I'm a content creator and wanna use
        just the beat in a video. Can I do that?
      </summary>
      <p class="about-info faq-info">
        If you just wanna use our beats (without adding vocals / recording a
        song to them) in the background for non-profit videos / projects (e.g.
        on social media or YouTube), simply credit us in the description (i.e.
        music provided by Harmonish + link) and you're good to go.
      </p>
    </details>
    <details>
      <summary>+ My question is not listed here, can you help?</summary>
      <p class="about-info faq-info">
        Sure, just reach out to us at harmonishmusic@gmail.com, thanks!
      </p>
    </details>
  </div>
</div>
