<footer>
  <div class="footer-info">
    <div class="f-message f-f">
      <p>Heard Enough?</p>
    </div>
    <div class="f-ans f-f">
      <p>Contact</p>
    </div>
    <div class="f-go f-f">
      <p>Us On</p>
    </div>
  </div>

  <div class="footer-links">
    <div class="f-link f-l">
      <a href="#">Instagram</a>
    </div>
    <div class="f-link f-l">
      <a href="#">Facebook</a>
    </div>
    <div class="f-link f-l">
      <a href="#">Twitter</a>
    </div>
    <div class="f-link f-l">
      <a href="#">LinkedIn</a>
    </div>
  </div>

  <div class="footer-name">
    <p>HARMONISH</p>
  </div>
</footer>
