<div class="name-container">
  <div class="n-artist-name">
    <p class="n-paragraph">HARMONI<span class="change-font">Sh</span></p>
    <span class="span-add-fill">
      <p>remixes</p>
    </span>
    <span class="span-add-fill">
      <p>typebeats</p>
    </span>
  </div>
  <div class="n-by-name">
    <span class="span-add-fill">
      <p>music</p>
    </span>
    <p class="n-paragraph">by</p>
    <span class="span-add-fill">
      <p>explore</p>
    </span>
  </div>
  <div class="n-name-name">
    <div class="n-info">
      <div class="n-info-div">
        <hr />
        <div class="n-info-music">
          <p>view typebeats</p>
          <p class="go-to-end">14</p>
        </div>
        <hr />
        <div class="n-info-music">
          <span><p>view remixes</p></span>
          <span><p class="go-to-end">41</p></span>
        </div>
        <hr />
      </div>
    </div>
    <div class="my-name-div">
      <p class="n-paragraph">nilanshu garhewal</p>
    </div>
  </div>
</div>
