<div class="navbar">
  <div class="nav-section-one">
    <div class="nav-logo">
      <p>HARMONISH</p>
    </div>
    <div class="nav-description">
      <p>MUSIC WITHOUT<br />COMPROMISE</p>
    </div>
  </div>
  <div class="nav-section-two">

    <!-- search -->
    <!-- <div class="nav-search">
      <label for="search">SEARCH</label>
      <input type="text" name="search" />
    </div> -->
    <div class="nav-tools">
      <ul>
        <li class="nav-hover disable go-to-about">ABOUT</li>
        <li class="nav-hover disable go-to-project">BROWSE</li>
        <li class="nav-hover disable go-to-faq">FAQ</li>
        <li class="open-menu">
          <span class="material-symbols-sharp" id="open-close"> menu </span>
          <p class="open-close">MENU</p>
        </li>
      </ul>
    </div>
  </div>
</div>
