<div class="project-section">
  <div class="project-name side-slide-animation-2">
    <div>
      <div class="project-name-container">
        <span class="material-symbols-sharp bolt-icon"> bolt </span>
        <!-- <hr /> -->
        <span class="project-name-span">
          <p>PROJECTS</p>
        </span>
      </div>

      <div class="view-project-div">
        <span class="material-symbols-sharp"> arrow_right_alt </span>
        <p class="p-view-remix">View Remixes</p>
      </div>
    </div>

    <div class="view-project-div">
      <span class="material-symbols-sharp"> arrow_right_alt </span>
      <p class="p-view-all">All View</p>
    </div>
  </div>

  <!-- Main project -->

  <div class="music-projects">
    <div class="project-section-names">
      <div><p>Name</p></div>

      <div>
        <p>Gerne</p>
      </div>

      <div><p>Tags</p></div>

      <div>
        <p>Details</p>
      </div>
    </div>

    <div class="music-typebeat-details">
      <% for( let i = 0; i < 5; i++ ) { %>
      <section class="music-sep-section">
        <div><p>Lost In You</p></div>

        <div>
          <p>Hip Hop, Pop</p>
        </div>

        <div><p>Soulful, Hip Hop, Pop</p></div>

        <div>
          <p>More Details</p>
        </div>
      </section>
      <% } %>
    </div>

    <div class="music-remix-details">
      <% for( let i = 0; i < 5; i++ ) { %>
      <section class="music-sep-section">
        <div><p>Nadaaniyan</p></div>

        <div>
          <p>Pop, I-Pop</p>
        </div>

        <div><p>Soulful, Pop</p></div>

        <div>
          <p>More Details</p>
        </div>
      </section>
      <% } %>
    </div>
  </div>
</div>
