<!-- Toggle menu -->

<div class="toggle-menu active">
  <div class="menu-nav">
    <div class="menu-logo">
      <p>HARMONISH</p>
    </div>
    <div class="close-menu">
      <span class="material-symbols-sharp"> close </span>
    </div>
  </div>

  <div class="menu-container">
    <div class="menu-tools">
      <ul >
        <li>
          <div>Home<sub>(01)</sub></div>
          <span class="material-symbols-sharp arrow-menu"> arrow_forward </span>
        </li>
        <hr />
        <li>
          <div>ABOUT<sub>(02)</sub></div>
          <span class="material-symbols-sharp arrow-menu"> arrow_forward </span>
        </li>
        <hr />
        <li>
          <div>FAQ<sub>(03)</sub></div>
          <span class="material-symbols-sharp arrow-menu"> arrow_forward </span>
        </li>
        <hr />
        <li>
          <div>PROJECTS<sub>(04)</sub></div>
          <span class="material-symbols-sharp arrow-menu"> arrow_forward </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="menu-info">
    <div class="menu-info-one">
      <div class="menu-info-heading">
        <p>Follow me.</p>
      </div>
      <div class="menu-links">
        <ul>
          <li>
            <span class="material-symbols-sharp">
              subdirectory_arrow_right
            </span>
            <p>Instagram</p>
          </li>
          <li>
            <span class="material-symbols-sharp">
              subdirectory_arrow_right
            </span>
            <p>YouTube</p>
          </li>
          <li>
            <span class="material-symbols-sharp">
              subdirectory_arrow_right
            </span>
            <p>SoundCloud</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-info-two">
      <div class="menu-message">
        <p>Stay connected.</p>
      </div>
      <div class="menu-email">
        <p>harmonishmusic@gmail.com</p>
      </div>
    </div>
  </div>
</div>
