.faq-section {
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  padding: 0 5rem;
  bottom: 0;
  scroll-behavior: smooth;
  position: relative;
  color: var(--color-white);
  border-radius: 4rem 4rem 0 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.faq-author {
  border-top: 2px solid var(--color-white);
  width: 100%;
  height: 100vh;
  /* background-color: purple; */
  position: static;
  top: 7rem;
  display: flex;
  /* justify-content: start !important; */
  flex-direction: column;
  /* align-items: center; */
  padding: 4rem 8rem 0;

  details {
    summary {
      font-size: var(--font-big);
      letter-spacing: 1px;
      margin: 2rem 0 2rem;
    }

    p {
      font-size: var(--font-medium);
    }
  }
}

@media (max-width: 768px) {
  .faq-author {
    padding: 2rem;

    details {
      summary {
        font-size: var(--font-medium);
      }
    }
  }
}
