@font-face {
  font-family: "power-grotesk";
  src: url("./fonts/PowerGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kingsguard";
  src: url("./fonts/KingsguardCalligraphy_PERSONAL_USE_ONLY.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "restrike";
  src: url("./fonts/restrikedemo-8o44m.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "power-grotesk", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-color: var(--color-white);
  position: relative;
  cursor: none;
}

/* Defining roots */

html {
  font-size: 62.5%;
}

:root {
  /* colors */

  /* Black & White */
  --color-black: #111;
  --color-white: #eee;

  /* off white and olive */
  /* --color-white: #f3ede3;
  --color-black: #45644a; */

  /* off white and olive */
  /* --color-white: #f4ecfe;
  --color-black: #9985f3; */

  /* Coffee brown, silver gray */
  /* --color-white: #6a5a4b;
  --color-black: #e9e9ea; */

  /* deep charcole , muted lilac */
  /* --color-white: #2e2e2e;
  --color-black: #d6cfe1; */

  /* antique white, puce */
  /* --color-black: #faebd7;
  --color-white: #cc8899; */

  /* Shark & Primrose */
  /* --color-white: #2a2a2e;
  --color-black: #ebf29c; */

  /* Moon mist & Blur ribbon */
  /* --color-white: #364ce4;
  --color-black: #daddd0; */

  /* Timberwolf */
  /* --color-black: #227f85;
  --color-white: #e0dbd5; */

  /* queen pink */
  /* --color-black: #ff90e0;
  --color-white: #263033; */

  /* Font sizes */
  --font-large: 3rem;
  --font-big: 2.5rem;
  --font-medium: 2rem;
  --font-small: 1.5rem;
  --font-xs: 1rem;
}
