<% layout("/layouts/boilerplate.ejs") %>

<div class="image-container">
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/23/d2/0d/23d20d23c19e863ffcc0516baeb6f3f4.jpg"
    />

    <div class="info-box">Info about Image 1</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/dc/8b/6d/dc8b6da66ec0cd2952d8d214376ab97d.jpg"
    />
    <div class="info-box">Info about Image 2</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/23/d2/0d/23d20d23c19e863ffcc0516baeb6f3f4.jpg"
    />

    <div class="info-box">Info about Image 3</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/dc/8b/6d/dc8b6da66ec0cd2952d8d214376ab97d.jpg"
    />
    <div class="info-box">Info about Image 4</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/23/d2/0d/23d20d23c19e863ffcc0516baeb6f3f4.jpg"
    />

    <div class="info-box">Info about Image 5</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/dc/8b/6d/dc8b6da66ec0cd2952d8d214376ab97d.jpg"
    />
    <div class="info-box">Info about Image 6</div>
  </div>
</div>
